{
  "name": "topic-model",
  "description": "Collection of legislative texts (EN) from the European Union generated between years 1958 and 2006",
  "contactEmail": "<user-email>",
  "version": "latest",
  "docker": {
    "email": "<user-email>",
    "password": "<user-password>",
    "repository": "<user-name>/demo-model-en",
    "user": "<user-name>"
  },
  "dataSource": {
    "dataFields": {
      "id": "id",
      "text": ["txt_t"],
      "labels": ["labels_t"]
    },
    "filter":"source_s:jrc && lang_s:en",
    "format": "SOLR_CORE",
    "offset": 0,
    "size": 50,
    "url": "http://repo:8983/solr/documents"
  }
}
